<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>RegistrationServerURL</key><string>https://mcs2-cloudstation-us-east-1.prod.hydra.sophos.com/sophos/management/ep</string><key>CustomerId</key><string>e87d94d6-eb38-c4d7-aa2c-a6e78cbe6428</string><key>RegistrationToken</key><string>98545d07191716d22ef85d643d8000fc034eb6aeabb28d20e0a38c83b7c0703c</string><key>CustomerToken</key><string>acb2e4b4-8390-4a12-864e-2fca02cb722f</string><key>Products</key><string>all</string><key>ProductType</key><string>home</string><key>GeneratedAt</key><string>2020-03-20T06:09:04Z</string><key>DciFileName</key><string>adecc965eb28b7184c3442c38807e9b5</string></dict></plist>