<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListOfGroups</key>
	<array>
		<dict>
			<key>Name</key>
			<string>_sophosencryption</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>_sophos</string>
		</dict>
	</array>
	<key>ListOfUsers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>_sophosencryption</string>
			<key>GroupName</key>
			<string>_sophosencryption</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>_sophos</string>
			<key>GroupName</key>
			<string>_sophos</string>
		</dict>
	</array>
	<key>ListOfFileEdits</key>
	<array>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>KeyValueFileEditor</key>
			<dict>
				<key>LineCommentSymbol</key>
				<string>#</string>
				<key>KeyValueSeparator</key>
				<string>:</string>
			</dict>
			<key>Path</key>
			<string>/etc/security/audit_control</string>
			<key>BackupPath</key>
			<string>/etc/security/audit_control.sophos.orig</string>
		</dict>
	</array>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Device Encryption.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Sophos Encryption</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Sophos Live Query</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Sophos Managed Detection and Response</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/share/man/man8/seadmin.8</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/share/man/man8/SophosEncryptionAgent.8</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/share/man/man8/SophosEncryptionCentralAdapter.8</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/share/man/man8/SophosEncryptionD.8</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/local/share/man/man8/seadmin.8</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/local/share/man/man8/SophosEncryptionAgent.8</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/local/share/man/man8/SophosEncryptionCentralAdapter.8</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/local/share/man/man8/SophosEncryptionD.8</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Home.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/saas</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/opm</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/opm-sa</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/opm-sa-installer</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/he</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/che</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/updateconfig.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Remove Sophos Anti-Virus.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Remove Sophos Endpoint.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Anti-Virus.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Endpoint.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Home.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Endpoint Self Help.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Remove.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Contextual Menu Items/Sophos Anti-Virus.plugin</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Documentation/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Extensions/SophosNetworkInterceptor.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Extensions/SophosWebProtection.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Extensions/SophosOnAccessInterceptor.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Extensions/SophosPortInterceptor.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Frameworks/SAVI.framework</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Frameworks/SUMScanKit.framework</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchAgents/com.sophos.uiserver.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchAgents/com.sophos.endpoint.uiserver.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchAgents/com.sophos.home.ui.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.autoupdate.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.common.servicemanager.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.configuration.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.devicecontrol.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.intercheck.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.managementagent.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.mcsagent.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.messagerouter.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.notification.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.scan.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.sxld.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.webd.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/System/Library/Extensions/SophosNetworkInterceptor.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/System/Library/Extensions/SophosWebProtection.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/System/Library/Extensions/SophosOnAccessInterceptor.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/System/Library/Extensions/SophosFileProtection.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/System/Library/Extensions/SophosPortInterceptor.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/System/Library/Extensions/SophosFileMonitor.kext</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/bin/SophosUpdate</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/local/bin/SophosUpdate</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/bin/sweep</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/local/bin/sweep</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/share/man/man1/sweep.1</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/local/share/man/man1/sweep.1</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/com.sophos.sav.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/com.sophos.sau.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/mrinit.conf</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/MRInit.conf</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/agent.config</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/cac.pem</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/router.config</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/sophos.config</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/svc.conf</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/quarantine_*.db</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Preferences/com.sophos.*.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>~/Library/Preferences/com.sophos.*.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos Anti-Virus/Scans/*.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>~/Library/Application Support/Sophos Anti-Virus/Scans/*.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos Managed Detection and Response/</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Sophos.keychain</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/mcs/config/configuration.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSecure.keychain</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/VDL_fallback/*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/DSA_fallback/*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/IDE_fallback/*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/events.db</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/events.db-shm</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/events.db-wal</string>
		</dict>
	</array>
	<key>ListOfLaunchAgents</key>
	<array>
		<string>com.sophos.enc.encryptionagent</string>
		<string>com.sophos.uiserver</string>
		<string>com.sophos.endpoint.uiserver</string>
		<string>com.sophos.agent</string>
		<string>com.sophos.endpoint.menu-extra</string>
		<string>com.sophos.home.ui</string>
	</array>
	<key>ListOfLaunchDaemons</key>
	<array>
		<string>com.sophos.common.servicemanager</string>
		<string>com.sophos.dbos</string>
		<string>com.sophos.enc.encryptiond</string>
		<string>com.sophos.enc.adapter.central</string>
		<string>com.sophos.cleand</string>
		<string>com.sophos.oas</string>
		<string>com.sophos.cryptoguard</string>
		<string>com.sophos.devicecontrol</string>
		<string>com.sophos.configuration</string>
		<string>com.sophos.sxld</string>
		<string>com.sophos.mcsagent</string>
		<string>com.sophos.mcs</string>
		<string>com.sophos.scan</string>
		<string>com.sophos.webd</string>
		<string>com.sophos.mcstest</string>
		<string>com.sophos.notification</string>
		<string>com.sophos.intercheck</string>
		<string>com.sophos.autoupdate</string>
		<string>com.sophos.managementagent</string>
		<string>com.sophos.messagerouter</string>
		<string>com.sophos.evmon</string>
		<string>com.sophos.dtrace</string>
		<string>com.sophos.heartbeatd</string>
		<string>com.sophos.shs</string>
		<string>com.sophos.privacyguard</string>
	</array>
	<key>ListOfManagedDaemons</key>
	<array>
		<string>com.sophos.dbos</string>
		<string>com.sophos.enc.encryptiond</string>
		<string>com.sophos.enc.adapter.central</string>
		<string>com.sophos.cleand</string>
		<string>com.sophos.oas</string>
		<string>com.sophos.cryptoguard</string>
		<string>com.sophos.devicecontrol</string>
		<string>com.sophos.configuration</string>
		<string>com.sophos.sxld</string>
		<string>com.sophos.mcs</string>
		<string>com.sophos.scan</string>
		<string>com.sophos.webd</string>
		<string>com.sophos.notification</string>
		<string>com.sophos.intercheck</string>
		<string>com.sophos.autoupdate</string>
		<string>com.sophos.managementagent</string>
		<string>com.sophos.messagerouter</string>
		<string>com.sophos.evmon</string>
		<string>com.sophos.dtrace</string>
		<string>com.sophos.heartbeatd</string>
		<string>com.sophos.shs</string>
		<string>com.sophos.privacyguard</string>
	</array>
	<key>ListOfExecutables</key>
	<array>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.sophos.enc.preferences</string>
			<key>IsApplication</key>
			<true/>
		</dict>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.sophos.macendpoint.Sophos-Endpoint</string>
			<key>IsApplication</key>
			<true/>
		</dict>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.sophos.macendpoint.Sophos-Anti-Virus</string>
			<key>IsApplication</key>
			<true/>
		</dict>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.sophos.sav</string>
			<key>IsApplication</key>
			<true/>
		</dict>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.sophos.homeantivirus</string>
			<key>IsApplication</key>
			<true/>
		</dict>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.sophos.endpoint.SelfHelpTool</string>
			<key>IsApplication</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
