<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos Encryption</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos Encryption/.RecoveryKeyEmergencyBackup</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos Encryption/LocalStorage</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Sophos Live Query</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Sophos Managed Detection and Response</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/opm-sa-installer</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos/mcs</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>Path</key>
			<string>/Builds</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>Path</key>
			<string>/Builds/build_savmac</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Caches/com.sophos.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>~/Library/Caches/com.sophos.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Preferences/com.sophos.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>~/Library/Preferences/com.sophos.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos Managed Detection and Response/</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>~/Library/Application Support/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
	</array>
	<key>ListOfLaunchDaemons</key>
	<array>
		<string>com.sophos.common.servicemanager</string>
		<string>com.sophos.dbos</string>
		<string>com.sophos.enc.encryptiond</string>
		<string>com.sophos.enc.adapter.central</string>
		<string>com.sophos.cleand</string>
		<string>com.sophos.oas</string>
		<string>com.sophos.cryptoguard</string>
		<string>com.sophos.devicecontrol</string>
		<string>com.sophos.configuration</string>
		<string>com.sophos.sxld</string>
		<string>com.sophos.mcs</string>
		<string>com.sophos.scan</string>
		<string>com.sophos.webd</string>
		<string>com.sophos.notification</string>
		<string>com.sophos.intercheck</string>
		<string>com.sophos.autoupdate</string>
		<string>com.sophos.managementagent</string>
		<string>com.sophos.messagerouter</string>
		<string>com.sophos.privacyguard</string>
	</array>
	<key>ListOfExecutables</key>
	<array>
		<dict>
			<key>ExecutableTimeout</key>
			<integer>300</integer>
			<key>ExecutableFailOnTimeout</key>
			<false/>
			<key>Path</key>
			<string>/usr/bin/security</string>
			<key>ListOfArguments</key>
			<array>
				<string>delete-keychain</string>
				<string>/Library/Sophos Anti-Virus/Sophos.keychain</string>
			</array>
			<key>RunOnce</key>
			<false/>
			<key>ExecuteOnInstall</key>
			<true/>
		</dict>
		<dict>
			<key>ExecutableTimeout</key>
			<integer>300</integer>
			<key>ExecutableFailOnTimeout</key>
			<false/>
			<key>Path</key>
			<string>/usr/bin/security</string>
			<key>ListOfArguments</key>
			<array>
				<string>delete-keychain</string>
				<string>/Library/Sophos Anti-Virus/SophosSecure.keychain</string>
			</array>
			<key>RunOnce</key>
			<false/>
			<key>ExecuteOnInstall</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
