<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>1175665</integer>
	<key>ComponentVersion</key>
	<string>9.9.4:2822830</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>215237</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>870bb356f83b7067dacd1ede91118793abd4f60608567fa4a41a038b0d3155a7</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>184035</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Resources/BackgroundService.icns</string>
			<key>SHAChecksum</key>
			<string>089d8cf04ecd09464ce7fa05e65c930f34f068a6ed0bf9b3c663fcd069ea11b1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>1379</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Resources/Info.plist</string>
			<key>SHAChecksum</key>
			<string>c02e81aa443adaaee02e592d683cc3fd7f35a4dc7954adc1869a3c6fae4d349a</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/A</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/A/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>2836</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/A/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>75afd82b07f6a24cfc0f76de1544e64e3b9a96d8f71ab8b7b43dfceb8e01d401</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/A/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>184035</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/A/Resources/BackgroundService.icns</string>
			<key>SHAChecksum</key>
			<string>089d8cf04ecd09464ce7fa05e65c930f34f068a6ed0bf9b3c663fcd069ea11b1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>1379</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/A/Resources/Info.plist</string>
			<key>SHAChecksum</key>
			<string>c02e81aa443adaaee02e592d683cc3fd7f35a4dc7954adc1869a3c6fae4d349a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>151744</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/A/SophosGenericsCommon</string>
			<key>SHAChecksum</key>
			<string>8f3eec48cfd0357ac1e0d3ca4c576904fd692d30f7b5d2a47cf04cdbbbafcf70</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/Current</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/Current/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>2836</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/Current/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>75afd82b07f6a24cfc0f76de1544e64e3b9a96d8f71ab8b7b43dfceb8e01d401</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/Current/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>184035</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/Current/Resources/BackgroundService.icns</string>
			<key>SHAChecksum</key>
			<string>089d8cf04ecd09464ce7fa05e65c930f34f068a6ed0bf9b3c663fcd069ea11b1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>1379</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/Current/Resources/Info.plist</string>
			<key>SHAChecksum</key>
			<string>c02e81aa443adaaee02e592d683cc3fd7f35a4dc7954adc1869a3c6fae4d349a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>151744</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/Versions/Current/SophosGenericsCommon</string>
			<key>SHAChecksum</key>
			<string>8f3eec48cfd0357ac1e0d3ca4c576904fd692d30f7b5d2a47cf04cdbbbafcf70</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>151744</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCommon.framework/SophosGenericsCommon</string>
			<key>SHAChecksum</key>
			<string>8f3eec48cfd0357ac1e0d3ca4c576904fd692d30f7b5d2a47cf04cdbbbafcf70</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>940</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Resources/SophosGenericsCommon-Info.plist</string>
			<key>SHAChecksum</key>
			<string>d4e233345588156e6ea047a83743555c9341d2430ccd9bce797b48193e2313a4</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>1373</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Resources/Info.plist</string>
			<key>SHAChecksum</key>
			<string>239969d6c377297e3fc3dd7b3d857ef36f2ef89e28a979e66f83357954527f1b</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/A</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/A/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>2710</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/A/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>6c47133d3c778271ca5f6186f267d899e18b2e45ae0bd3ce108ada80d83388f0</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/A/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>940</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/A/Resources/SophosGenericsCommon-Info.plist</string>
			<key>SHAChecksum</key>
			<string>d4e233345588156e6ea047a83743555c9341d2430ccd9bce797b48193e2313a4</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>1373</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/A/Resources/Info.plist</string>
			<key>SHAChecksum</key>
			<string>239969d6c377297e3fc3dd7b3d857ef36f2ef89e28a979e66f83357954527f1b</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>48720</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/A/SophosGenericsCore</string>
			<key>SHAChecksum</key>
			<string>448f5d31eb24bd9e9a33df719f083f136649805a9fad01517f7635cf2127a786</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/Current</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/Current/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>2710</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/Current/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>6c47133d3c778271ca5f6186f267d899e18b2e45ae0bd3ce108ada80d83388f0</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/Current/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>940</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/Current/Resources/SophosGenericsCommon-Info.plist</string>
			<key>SHAChecksum</key>
			<string>d4e233345588156e6ea047a83743555c9341d2430ccd9bce797b48193e2313a4</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>1373</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/Current/Resources/Info.plist</string>
			<key>SHAChecksum</key>
			<string>239969d6c377297e3fc3dd7b3d857ef36f2ef89e28a979e66f83357954527f1b</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>48720</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/Versions/Current/SophosGenericsCore</string>
			<key>SHAChecksum</key>
			<string>448f5d31eb24bd9e9a33df719f083f136649805a9fad01517f7635cf2127a786</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>generics</string>
			<key>FileSize</key>
			<integer>48720</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Frameworks/SophosGenericsCore.framework/SophosGenericsCore</string>
			<key>SHAChecksum</key>
			<string>448f5d31eb24bd9e9a33df719f083f136649805a9fad01517f7635cf2127a786</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
