<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>6182051</integer>
	<key>ComponentVersion</key>
	<string>9.9.6:2833099</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>2341648</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>1bcb994046e7c25b9a2561c2e86f459f92e3c1fead27fe9fc2b233f7384ff610</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>15935</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>cf6cc7a3906e25988ffef686f136c7be5e667b76931b9f70992c63ceb9802471</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Install</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Install/Manifests</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>6414</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Install/Manifests/cleanup.plist</string>
			<key>SHAChecksum</key>
			<string>49ccb1b9bfc4165781a78a84cdd897ce31a4e4ae2297ecfcdc2fd7beaa9b85c2</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>27294</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Install/Manifests/cleanup-processes.plist</string>
			<key>SHAChecksum</key>
			<string>20e954ce029b0dd0b4883a063d3a2648c4d617b77cd72b1c42cb28755b210e8e</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>2235</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Install/Manifests/Index.plist</string>
			<key>SHAChecksum</key>
			<string>c920eda10f50287e4e0251f72cbe5bd9c917c00f1fee36d145af3e099c49e7b1</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>1030608</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/MacOS/Remove Sophos Home</string>
			<key>SHAChecksum</key>
			<string>a072db046531dc6aa8953bf4853a09d544b7f40d728e67acb790056f95019bd0</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/MacOS/tools</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>3579568</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/MacOS/tools/InstallationDeployer</string>
			<key>SHAChecksum</key>
			<string>5e11532fafe0b6bf4201ada08aa248e9d57f6b370d4c25e65c31a4fb36932526</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/de.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>2976</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/de.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>1e9b5f8ab3455a9b3aea70781105d5df9b22bc1d9087ed973fafd27272415d08</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>34648</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/de.lproj/MainMenu.nib</string>
			<key>SHAChecksum</key>
			<string>67e9e10b9eee50b5e6fbd537efe24c42756c6adfa7c056c4e0d102728b6877aa</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>245</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/de.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>56d50f23b8654740b6412124476a04eaafc0d92a450f94da58d25613ddcd04ad</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/de.lproj/Introduction.rtfd</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>894</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/de.lproj/Introduction.rtfd/TXT.rtf</string>
			<key>SHAChecksum</key>
			<string>fc41ad117d9132408a1481384c947c6c09bf1aa3a48ace5d593fc084bcfaef38</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/ja.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>2334</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/ja.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>cd9e44a4ce64ad8b7b01153a6ab65f3e9940823a7bb4c4967328c261831e0ab4</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>34377</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/ja.lproj/MainMenu.nib</string>
			<key>SHAChecksum</key>
			<string>06d19cfe35bc7c7e4589c2c3acda9d0ee99342519ce3799afe48704aca2c2068</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>237</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/ja.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>b0b6c78eecbfcc30955a6aaaaef505c3e9b76a668ec067d85ab4180404edf0e9</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/ja.lproj/Introduction.rtfd</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>1942</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/ja.lproj/Introduction.rtfd/TXT.rtf</string>
			<key>SHAChecksum</key>
			<string>cedba7107450d6d0e9793a26f2a567c80fcdc0188725958be679d2b656e42675</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/en.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>2280</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/en.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>20c663993d50d409825881e31661c6ae2d8c9f5f1a8cc0df8a228e8ee5e166cd</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>562</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/en.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>9ac2bd068d39bd0ffc92bb9e0ed4c0a2bb09d948344392a84b1e7c7547c91ae0</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/en.lproj/Introduction.rtfd</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>763</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/en.lproj/Introduction.rtfd/TXT.rtf</string>
			<key>SHAChecksum</key>
			<string>3b0e2278169f7d3c6c38afc82e866d93721f8aa202c85dc2264791364ae7680d</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/es.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>2822</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/es.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>039402ab34e4059ea293d65688ad245ac24672aac18fc2834c3b13bb60f76bcc</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>34641</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/es.lproj/MainMenu.nib</string>
			<key>SHAChecksum</key>
			<string>f34e24237d8a28797c2213f4887a0be78028b3bc2c5d9adcf3657ecf960e4007</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>257</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/es.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>dff621e7d88813637c036d5954ff4ac90525124dc14d57973f55f71d423ca8c8</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/es.lproj/Introduction.rtfd</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>914</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/es.lproj/Introduction.rtfd/TXT.rtf</string>
			<key>SHAChecksum</key>
			<string>dd052a86f76ab7a465101983257c12611384d1f79ec5f6e7f5534cc5db18870b</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/it.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>3014</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/it.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>b6951a2725cc250fd61e464c5e4e6892676ae9a431c7fb0d8e66ada6f0021cd9</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>34375</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/it.lproj/MainMenu.nib</string>
			<key>SHAChecksum</key>
			<string>3a8ffdd5f8b13ed6ee54751eeaca17acea1033efc8d5c5c1cc40c7f634a1f91a</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/it.lproj/Introduction.rtfd</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>881</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/it.lproj/Introduction.rtfd/TXT.rtf</string>
			<key>SHAChecksum</key>
			<string>d09f2c36312f96f161ba667d23c01f32e9a0aa3be31712a4d29e2e1f43f64e16</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/Base.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>44844</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/Base.lproj/background.tif</string>
			<key>SHAChecksum</key>
			<string>b7dd810bda8581ef00ccceadc4cad960bad67dd9502c7064a4dc3d942d37ccac</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>264370</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/Base.lproj/AlertCautionIcon.tiff</string>
			<key>SHAChecksum</key>
			<string>cabac3ff0eb70d151235ce3a1cbeb1350302bbfdbfa11a2c4881ded99da712e2</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>42162</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/Base.lproj/Success.tiff</string>
			<key>SHAChecksum</key>
			<string>477e42e809570b37b149dfac7bf7f67da480435427847c86c7ebce6e09f64edb</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>36936</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/Base.lproj/MainMenu.nib</string>
			<key>SHAChecksum</key>
			<string>48890daf405beac345e8dde163fcdccbfbf51f74cb3edf11e7ab4e6bd40454e7</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>237</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/Base.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>b0b6c78eecbfcc30955a6aaaaef505c3e9b76a668ec067d85ab4180404edf0e9</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>523</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/Base.lproj/blue_bullet.png</string>
			<key>SHAChecksum</key>
			<string>56c56a7b57911f1b813298ceb67e72e5c44c5e25337b70f853ad1e75acc2d141</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>128002</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/Remove Sophos Anti-Virus.icns</string>
			<key>SHAChecksum</key>
			<string>40b23d3206b28a52fe705170d2d02aefcf04376210dc57e3b090afd05555bb56</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>a559f5838cbc2c13571828e8cdad1775b24f5331a6fd7ecd6c607951570d969c</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/fr.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>2886</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/fr.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>2c635f3dcf67d68cbc8865702e8e6813f983db1640ad1aeacc51506a255eb947</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>34736</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/fr.lproj/MainMenu.nib</string>
			<key>SHAChecksum</key>
			<string>df1916b052817bfc5f62d997e5e55c8c221ae9f1f594570e40c083d8ac570201</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>243</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/fr.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>b58524eecc1dfe5edfb52f13285fdf4c1287dd4e7cc84847640902a01d033c8a</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/fr.lproj/Introduction.rtfd</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>919</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Resources/fr.lproj/Introduction.rtfd/TXT.rtf</string>
			<key>SHAChecksum</key>
			<string>264bf24e6914d672dee34186e2174bfda0832b5ae272e3b3591d3a79b399d277</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Library</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Library/LaunchServices</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>803408</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Library/LaunchServices/com.sophos.macendpoint.Installer.HelperTool</string>
			<key>SHAChecksum</key>
			<string>96f65700f03eed357cf21e8d718f4973480cff67184f885e743079cb54d60d7c</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>2103</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>d2fefd1baf6fdc8b3593c733815c2a869f333b42c9d9a3552bf38c04df063350</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>gui-remove-che</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Applications/Remove Sophos Home.app/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
