<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomBundlesPath</key>
	<string>../Sophos Installer Components</string>
	<key>InstallerVersion</key>
	<string>9.9.6</string>
	<key>ListOfPermissions</key>
	<dict>
		<key>FileTypeExecutable</key>
		<dict>
			<key>/</key>
			<array>
				<dict>
					<key>IsMach-OExecutable</key>
					<true/>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/Applications</key>
			<array>
				<dict>
					<key>IsMach-OExecutable</key>
					<true/>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/Library/Sophos Anti-Virus</key>
			<array>
				<dict>
					<key>IsMach-OExecutable</key>
					<true/>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/Library/Sophos Encryption</key>
			<array>
				<dict>
					<key>IsMach-OExecutable</key>
					<true/>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/usr</key>
			<array>
				<dict>
					<key>IsMach-OExecutable</key>
					<true/>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
		</dict>
		<key>NSFileTypeDirectory</key>
		<dict>
			<key>/</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>493</integer>
				</dict>
			</array>
			<key>/Library/Application Support/Sophos Encryption</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<false/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>493</integer>
				</dict>
			</array>
			<key>/Library/Application Support/Sophos Encryption/LocalStorage</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<false/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>_sophosencryption</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>509</integer>
				</dict>
			</array>
			<key>/Library/Application Support/Sophos Managed Detection and Response</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<false/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>488</integer>
				</dict>
			</array>
			<key>/Library/Caches/com.sophos.sav</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<false/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>_sophos</string>
					<key>NSFilePosixPermissions</key>
					<integer>493</integer>
				</dict>
			</array>
			<key>/Library/Extensions</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/Library/Frameworks</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/Library/Sophos Anti-Virus/RocksDB</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<false/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>_sophos</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>504</integer>
				</dict>
			</array>
			<key>/System</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/usr</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>493</integer>
				</dict>
			</array>
		</dict>
		<key>NSFileTypeRegular</key>
		<dict>
			<key>/</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>292</integer>
				</dict>
			</array>
			<key>/Library/Extensions</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>292</integer>
				</dict>
			</array>
			<key>/Library/Frameworks</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>292</integer>
				</dict>
			</array>
			<key>/Library/LaunchAgents</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>292</integer>
				</dict>
			</array>
			<key>/Library/LaunchDaemons</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>292</integer>
				</dict>
			</array>
			<key>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/Resources</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>256</integer>
				</dict>
			</array>
			<key>/System</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>292</integer>
				</dict>
			</array>
			<key>/usr</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>292</integer>
				</dict>
			</array>
		</dict>
		<key>NSFileTypeSymbolicLink</key>
		<dict>
			<key>/</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/Applications</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/Library/Sophos Anti-Virus</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>admin</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
			<key>/usr</key>
			<array>
				<dict>
					<key>IsWildcardPath</key>
					<true/>
					<key>NSFileGroupOwnerAccountName</key>
					<string>wheel</string>
					<key>NSFileOwnerAccountName</key>
					<string>root</string>
					<key>NSFilePosixPermissions</key>
					<integer>365</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>PayloadSize</key>
	<integer>36107264</integer>
	<key>PayloadVersion</key>
	<string>9.9.6</string>
	<key>ProductCleanup</key>
	<dict>
		<key>ListOfComponents</key>
		<array>
			<string>cleanup</string>
		</array>
	</dict>
	<key>ProductRemovals</key>
	<array>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>cleanup-processes</string>
				<string>cleanup</string>
			</array>
			<key>ProductName</key>
			<string>che</string>
		</dict>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>remove-v8</string>
			</array>
			<key>ProductDetectionPaths</key>
			<array>
				<string>/Library/Sophos Anti-Virus</string>
				<string>/Applications/Sophos Remove.app</string>
			</array>
			<key>ProductName</key>
			<string>he-v8</string>
		</dict>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>remove-v8</string>
			</array>
			<key>ProductDetectionPaths</key>
			<array>
				<string>/Library/Sophos Anti-Virus</string>
				<string>/Library/Sophos Anti-Virus/Sophos Remove.app</string>
				<string>/Library/Sophos Anti-Virus/RMS</string>
			</array>
			<key>ProductName</key>
			<string>opm-v8</string>
		</dict>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>remove-v8</string>
			</array>
			<key>ProductDetectionPaths</key>
			<array>
				<string>/Library/Sophos Anti-Virus</string>
				<string>/Library/Contextual Menu Items/Sophos Anti-Virus.plugin</string>
			</array>
			<key>ProductName</key>
			<string>opm-sa-v8</string>
		</dict>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>cleanup-processes</string>
				<string>cleanup</string>
			</array>
			<key>ProductName</key>
			<string>he</string>
		</dict>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>cleanup-processes</string>
				<string>cleanup</string>
			</array>
			<key>ProductName</key>
			<string>opm</string>
		</dict>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>cleanup-processes</string>
				<string>cleanup</string>
			</array>
			<key>ProductName</key>
			<string>opm-sa</string>
		</dict>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>cleanup-processes</string>
				<string>cleanup</string>
			</array>
			<key>ProductName</key>
			<string>saas</string>
		</dict>
		<dict>
			<key>ListOfComponents</key>
			<array>
				<string>cleanup-processes</string>
				<string>cleanup</string>
			</array>
			<key>ProductDetectionPaths</key>
			<array>
				<array>
					<string>/Library/Sophos Anti-Virus</string>
					<string>/Applications/Remove Sophos Endpoint.app</string>
				</array>
			</array>
			<key>ProductName</key>
			<string>damaged-installation</string>
		</dict>
	</array>
	<key>Products</key>
	<dict>
		<key>che</key>
		<dict>
			<key>CrossGrades</key>
			<array>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>saas</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>he-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>opm-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>opm-sa-v8</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>opm-sa</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>he</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<false/>
					<key>ProductName</key>
					<string>opm</string>
					<key>TreatAsUpdate</key>
					<false/>
				</dict>
				<dict>
					<key>AllowCrossGrades</key>
					<true/>
					<key>ProductName</key>
					<string>damaged-installation</string>
					<key>TreatAsUpdate</key>
					<true/>
				</dict>
			</array>
			<key>ListOfInstallPhases</key>
			<array>
				<dict>
					<key>InstallPhaseType</key>
					<string>LocalPayload</string>
					<key>ListOfFeatures</key>
					<dict>
						<key>AV</key>
						<dict>
							<key>ListOfCustomBundles</key>
							<array>
								<string>savi</string>
								<string>av-home</string>
							</array>
						</dict>
						<key>CORE</key>
						<dict>
							<key>ListOfComponents</key>
							<dict>
								<key>All</key>
								<array>
									<string>version-che</string>
									<string>generics</string>
									<string>gui-remove-che</string>
									<string>sdu</string>
									<string>servicemgr-home</string>
									<string>sophosagent</string>
									<string>rocksdb</string>
									<string>confd</string>
									<string>mcsagent</string>
									<string>mcs-config</string>
									<string>shs</string>
									<string>sau</string>
								</array>
							</dict>
						</dict>
						<key>XPD</key>
						<dict>
							<key>ListOfCustomBundles</key>
							<array>
								<string>home-premium</string>
								<dict>
									<key>BundleIsOptional</key>
									<true/>
									<key>BundleName</key>
									<string>config-supplement</string>
								</dict>
							</array>
						</dict>
						<key>__Default</key>
						<dict>
							<key>ListOfComponents</key>
							<dict>
								<key>All</key>
								<array>
									<string>version-che</string>
									<string>generics</string>
									<string>gui-remove-che</string>
									<string>sdu</string>
									<string>servicemgr-home</string>
									<string>sophosagent</string>
									<string>rocksdb</string>
									<string>confd</string>
									<string>mcsagent</string>
									<string>mcs-config</string>
									<string>shs</string>
									<string>sau</string>
								</array>
							</dict>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>ProtocolVersion</key>
	<integer>6</integer>
	<key>ReceiptSize</key>
	<integer>18670259</integer>
	<key>SophosCoreIntegration</key>
	<true/>
	<key>SuppressReceipt</key>
	<false/>
</dict>
</plist>
