<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>3703841</integer>
	<key>ComponentVersion</key>
	<string>9.9.6:2830042</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>1240532</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>0afeb2363679d7636ac63d3b2c5aa9bf5d24d919f88ea98c23c79cbe998b0530</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>3726</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>d1c90b32f8351a49c954d5847aa8b353aad2a1f27dd550afc5bb803aff1498ed</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>3690064</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/MacOS/SophosMcsAgentD</string>
			<key>SHAChecksum</key>
			<string>435cd7e8b9d02c02932e650f6863c82ec909a0d56d9af480e771c9e6ecdab991</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>2647</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Resources/revocations.plist</string>
			<key>SHAChecksum</key>
			<string>a7de59682ae43fa9a2027b8876cd31801f4461a2b8462208c62add529fbdac27</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Resources/certificates</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>1454</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Resources/certificates/sophosca4.der</string>
			<key>SHAChecksum</key>
			<string>4d44a6ba0ce8fc3771c6bc95d385aaa944aabdcd2d908d87ef5ca20418bf5d90</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>1142</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Resources/certificates/sophosca1.der</string>
			<key>SHAChecksum</key>
			<string>653e1a599023b1eb88ab96137238d978529a070b828dd3309800bd131d8ffaf3</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>1454</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Resources/certificates/sophosca3.der</string>
			<key>SHAChecksum</key>
			<string>ab9dc99032c498691a788817d5af925ef0580f32904defe58b7a52d971d8bec4</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>1142</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Resources/certificates/sophosca2.der</string>
			<key>SHAChecksum</key>
			<string>92e6ccbe80f31db683e4c331b599efc91e593365af8895504a9360c087060d44</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>a561c0a1b11fe3e975d61f7038a2dcbc87a059d4d83bf2c424e41ec053329366</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>1746</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>da2e776e56b3e64303adecde5a2dd7ac4086c0c67afab1220f9b719c9b4202b2</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>mcsagent</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosMcsAgentD.bundle/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array>
		<string>com.sophos.mcs</string>
	</array>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
