<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/com.sophos.sav.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/com.sophos.sau.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/mrinit.conf</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/MRInit.conf</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/agent.config</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/cac.pem</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/router.config</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/sophos.config</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/RMS/svc.conf</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/quarantine_*.db</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Anti-Virus.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Applications/Sophos Remove.app</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Contextual Menu Items/Sophos Anti-Virus.plugin</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Documentation/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Frameworks/SAVI.framework</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Frameworks/SUMScanKit.framework</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.autopupdate.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.intercheck.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.managementagent.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.messagerouter.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.notification.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/bin/SophosUpdate</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/bin/sweep</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/usr/share/man/man1/sweep.1</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<true/>
			<key>RemoveDirectoryAndContents</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>Path</key>
			<string>/Library/Caches/com.sophos.rms</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Preferences/com.sophos.*.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>~/Library/Preferences/com.sophos.*.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/Library/Application Support/Sophos Anti-Virus/Scans/*.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>~/Library/Application Support/Sophos Anti-Virus/Scans/*.plist</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/var/db/receipts/com.sophos.cmplugin.8.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/var/db/receipts/com.sophos.sau.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/var/db/receipts/com.sophos.sav.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/var/db/receipts/com.sophos.security.7.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/var/db/receipts/com.sophos.ui.8.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/var/db/receipts/com.sophos.libs.7*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/var/db/receipts/com.sophos.rms.*</string>
		</dict>
		<dict>
			<key>RemoveOnly</key>
			<true/>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsModifiableFile</key>
			<true/>
			<key>IsWildcardPath</key>
			<true/>
			<key>Path</key>
			<string>/var/db/receipts/com.sophos.uninstaller.*</string>
		</dict>
	</array>
	<key>ListOfLaunchAgents</key>
	<array>
		<string>com.sophos.uiserver</string>
	</array>
	<key>ListOfLaunchDaemons</key>
	<array>
		<string>com.sophos.notification</string>
		<string>com.sophos.intercheck</string>
		<string>com.sophos.autoupdate</string>
		<string>com.sophos.managementagent</string>
		<string>com.sophos.messagerouter</string>
	</array>
	<key>ListOfExecutables</key>
	<array>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.sophos.sav</string>
			<key>IsApplication</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
