<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>6008869</integer>
	<key>ComponentVersion</key>
	<string>9.9.4:2822830</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>2106596</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>1c983886b08f66757b12932f5c18ae1cc7c160ec12c80d9cb58ba1afd7d5f925</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>180896</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/usr/local/bin/SophosUpdate</string>
			<key>SHAChecksum</key>
			<string>78597f5c98bfd895893fd977da2ef77af028f71cb217b589e834e58c60ed4259</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>1306</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/ps_rootca.crt</string>
			<key>SHAChecksum</key>
			<string>311e7160a6812c6d4b552eb7cd282eb72a8f082bec8b51179794ab979173187c</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>9116</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>7614e2622a49c86cd3bc4b81f2c78d86bd0edbd603a021dad4aa79e88e743c38</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>4718560</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/MacOS/SophosAutoUpdate</string>
			<key>SHAChecksum</key>
			<string>ccad57ea188cd67feee591d0e014dd1980322ace8f7eeda2d8e0f167eb11bf71</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/de.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>16736</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/de.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>b25f232d4bc21b85f94431cded4d91a2e19b20f32eb01869976b108d2d161603</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>245</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/de.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>7011a60a093df9f5cfbb7a6079b64f36f56450a5efeb944d7393e98c3184dc70</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/ja.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>15264</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/ja.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>78d99c64e8bf5cb18f04fc25902dab4cad66b54b4a8023e3c8166e464ecb956a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>237</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/ja.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>bfbea4d5e63628998a7f144bfc5ebab36da4e31943f0704230bec4b9b3536947</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/en.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>16076</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/en.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>5075be50f0cbe9a9964367bc6e2d94706a6f1763b3129d4aeaa57febbeec78cb</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>237</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/en.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>bfbea4d5e63628998a7f144bfc5ebab36da4e31943f0704230bec4b9b3536947</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/es.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>16832</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/es.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>741e6789d6fc98b3dd154aec316ee556948db86901384ac6b7181bafdd7348a0</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>257</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/es.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>48f83463f7429b1ad9722895d132e8f712c42b265341822f26adc3414fc96538</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>123152</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/UnmountHelper</string>
			<key>SHAChecksum</key>
			<string>511cfbbdd192bd9320aa39e6a57d5c437d71cbcd80d15a9e5a0d56e276ad9915</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>742</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/sau-config-he.plist</string>
			<key>SHAChecksum</key>
			<string>3ce6c100c4f202c49f10882e28328a58381a5005ce666e4c6cd76db55e2f425a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>734</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/sau-config-che.plist</string>
			<key>SHAChecksum</key>
			<string>04d5808176c36647f2f13a3d395dd69db98b07049b41d42f83067ad2b27c9cac</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>735920</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/InstallHelper</string>
			<key>SHAChecksum</key>
			<string>6758531be80e98126b77c4b36199b6ba4ce6254457dd6c48d966576af3c1dc97</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>4140c1e1c332a06c9d5fa2cf8dfb6300662f38a63d020f2128d5988b07ce3a30</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>731</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/sau-config-opm.plist</string>
			<key>SHAChecksum</key>
			<string>85e48dbc045b6db33c5b47e433bb8d71cbec86055bd05585d31e16aac0c58a1b</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/fr.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>16890</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/fr.lproj/Localizable.strings</string>
			<key>SHAChecksum</key>
			<string>e4a8d612795f503bce2b83befde0d28494890f5d93545d4e1c8b55bce36ae3bf</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>243</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/fr.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>dff23237da3a76f6e75501335ede44ffff9040e1d08941d01b93cdc88db084c6</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>151936</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/MountHelper</string>
			<key>SHAChecksum</key>
			<string>b46f747121e91d4acd02f809e35dc52e825fe2ff073fc58ba546a1d27747a44a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>729</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Resources/sau-config-saas.plist</string>
			<key>SHAChecksum</key>
			<string>3a56b70bbd5dd212e81a42d79ed6f2f5ab389af79bbd259580635b18b67e12a4</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>1564</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>e08aaa2830b8edda6d2116b57ecc810e83c49afc87a927a71913775d9d073531</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosAutoUpdate.app/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sau</string>
			<key>FileSize</key>
			<integer>0</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/ps.crl</string>
			<key>SHAChecksum</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array>
		<string>com.sophos.autoupdate</string>
	</array>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
