<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>13030144</integer>
	<key>ComponentVersion</key>
	<string>9.9.4:2822133</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>4171258</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>49a61260f45f8117c36f2dfdf6e98b34c5bc5c980f9b7e8f5c3508f6fc00871a</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>2009</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/CodeResources</string>
			<key>SHAChecksum</key>
			<string>49fb709af5237856a1081779955d2aa62902afd049fd4e0b1d3b4ef9fee79ffa</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>7667</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>e0eefc7924185981c139e53c87cd359c14d9c25871b2d0afb299a434f3d698c3</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/MacOS</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/MacOS/tools</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>1011344</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/MacOS/tools/sophosdiagnosticutility</string>
			<key>SHAChecksum</key>
			<string>c0d02e62de94048942c442b086ea93797d2edeb835d7c2cc0de9de973374c8ba</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>401056</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/MacOS/Sophos Diagnostic Utility</string>
			<key>SHAChecksum</key>
			<string>db30f3b65f8c76dc3da9298e14382c4477bae356e10e4f850c30c775d89afa23</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>475120</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Resources/libswiftRemoteMirror.dylib</string>
			<key>SHAChecksum</key>
			<string>11e3fe17d6fdd8fd17c0dcf63120686fd4d26fa08ab9040cfde8364e5d4d9d7d</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Resources/Base.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>49887</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Resources/Base.lproj/MainMenu.nib</string>
			<key>SHAChecksum</key>
			<string>a6b33a2d2cd2b96c4b309a8846824bdb66dcef63813adc580d96b6872689163e</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>237</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Resources/Base.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>bfbea4d5e63628998a7f144bfc5ebab36da4e31943f0704230bec4b9b3536947</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>196830</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Resources/Sophos Diagnostic Utility.icns</string>
			<key>SHAChecksum</key>
			<string>bc15ba4dced8d80b0114f034101fafceffd7bc10f717a428bb5580c0571a9571</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>c9d8f757bb592909b0eac98c3dd2c34adb29af2bafb13295d37ddcbf4e5d3ae2</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>213568</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftAppKit.dylib</string>
			<key>SHAChecksum</key>
			<string>30413a908eff7b7ff67b6ef90449e63241d074d6ec0ea796d2daf75010aeed9a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>40928</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftCoreImage.dylib</string>
			<key>SHAChecksum</key>
			<string>3198642381479df419aee2cc8e998dc2322a0305422b529be7c79fbcef22401d</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>53136</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftObjectiveC.dylib</string>
			<key>SHAChecksum</key>
			<string>f6258584a2652494dde4ff5dec723156976371518cef4a54c6f08d86dadf0f80</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>36608</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftXPC.dylib</string>
			<key>SHAChecksum</key>
			<string>fd0b67a66eaad9225fa8c0b04fd2af5bf02eae6a62625f76e809d40f6cba0021</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>6447184</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftCore.dylib</string>
			<key>SHAChecksum</key>
			<string>8ce3d4656161682e3017c9fe3e85badbf08863965ae9ade23c12a6513ac3665a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>181424</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftCoreGraphics.dylib</string>
			<key>SHAChecksum</key>
			<string>2a0481480add4a16ce90f07df24b9916c641322c06947429923c88accb9ed574</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>75808</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftMetal.dylib</string>
			<key>SHAChecksum</key>
			<string>851714ba54b2ab9e2ebff2cda7b0011506cd52d5647be406a18b2242b7dfc105</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>89760</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftCoreData.dylib</string>
			<key>SHAChecksum</key>
			<string>06eaf4d2e8953d58a4b5b82f7076b833bae9a226038bba3d6171fea43b51e27a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>319152</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftDispatch.dylib</string>
			<key>SHAChecksum</key>
			<string>514c3121e553f096d18b57fb7183c36fa21b925e683c54b88142a11f2a817a17</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>63232</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftos.dylib</string>
			<key>SHAChecksum</key>
			<string>8cd7d861a5e1e37fdc460e534657ffa6fd96bf5fa4bcb1196dc9d755f9276a46</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>33008</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftCoreFoundation.dylib</string>
			<key>SHAChecksum</key>
			<string>cbbb559c26fbd419ae736e5e5683425791ed9b56957f7013dc7c7ad22ad9964e</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>89968</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftDarwin.dylib</string>
			<key>SHAChecksum</key>
			<string>f44914698e9c5417fa01c05b7a8e5930e9b815ecd03f34155888c18d0f6d22b1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>49232</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftQuartzCore.dylib</string>
			<key>SHAChecksum</key>
			<string>2960444a7fd11f5a09bdabc836927c5d1c40e6a2ca564057505eedddeb2e3170</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>36528</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftIOKit.dylib</string>
			<key>SHAChecksum</key>
			<string>49c315ee316f6e43dd12484dbca36e771624fd6ea31e90d1d9e4b403f4cc147e</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>3154272</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Frameworks/libswiftFoundation.dylib</string>
			<key>SHAChecksum</key>
			<string>4c942760405f40a0b4bd0ac1c393dce81cd87b4a4d1e51a65e67a9351be007b0</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>1720</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>9796272fce6e6f956f83dbd5006ca8f04ba0db04ffa1c7c76891f43d9057e749</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sdu</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/Tools/Sophos Diagnostic Utility.app/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
