<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>1181082</integer>
	<key>ComponentVersion</key>
	<string>9.9.6:2830042</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>380634</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>da1140096e67708b7856078c45a50da99e87140e75f307a673ac8bf461d24471</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>3269</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>2fbc08a8d3bc79de914d4ec74d40eaf65bff7188cb1a3775fab37253391cd1be</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>1158112</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/MacOS/SophosServiceManager</string>
			<key>SHAChecksum</key>
			<string>80ad55fd1e8a49348028933e7447245c10c23aabe8f6377e0ac862a84d8f7007</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/Resources</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/Resources/en.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>562</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/Resources/en.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>b19ccd14ef232632170b5a676c7ca936e941ffdbc920f75e4c84e0099b7152cb</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>16528</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/Resources/Service.plist</string>
			<key>SHAChecksum</key>
			<string>40462e6886b59795c66085bc4fa58f118f2fab62d36dd458b4d80dc9cc093b6b</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>e9e7f80c22c104806163f281df6ba97f87857e6698fb11400d1ce0756ec31dcc</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>1490</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>3e6f55b60a97f45f61640e9021d05e63d5d5d270a76b419fff3254adb6dd7060</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>servicemgr-home</string>
			<key>FileSize</key>
			<integer>655</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/LaunchDaemons/com.sophos.common.servicemanager.plist</string>
			<key>SHAChecksum</key>
			<string>e92daf16b348c030c3cd68460d24e2abe3f90841d1a11b02498f3081e709dfb0</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array>
		<string>com.sophos.common.servicemanager</string>
	</array>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
