<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>1313</integer>
	<key>ComponentVersion</key>
	<string>9.9.6:2833099</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>version-che</string>
			<key>FileSize</key>
			<integer>832</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>b27c71f4225ddda72b7eab10556f43ef41dbb159a755f52ecf5176563cb4e290</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>version-che</string>
			<key>FileSize</key>
			<integer>581</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/product-info.plist</string>
			<key>SHAChecksum</key>
			<string>1b10c29a58270d7a7219899f2e23c4902b1a2c5454dbd386cf852890c27b2fe8</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>version-che</string>
			<key>FileSize</key>
			<integer>718</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/sau.plist</string>
			<key>SHAChecksum</key>
			<string>2da5defb62f334930839794ea419579d96736ce853ec1cea098d02b602ace727</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/VDL</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>version-che</string>
			<key>FileSize</key>
			<integer>14</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/VDL/svext.dat</string>
			<key>SHAChecksum</key>
			<string>d254fedc403be811d6af1cfd6e0c04d826ef8a8fc5d0e1f37cdedd4073f70c09</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
