<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>../Sophos Installer Components/home-premium.bundle/Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>13259589</integer>
	<key>ComponentVersion</key>
	<string>9.9.6:2833099</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>4056575</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>7c6afde718bff5f063d95312b28f3a3d2a5bc21de622016c52bc22b3574e56a9</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>7469</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>7fc257bf469cb7b568c0d2337281f65bea75b2b47e9366c708c4c058621f1a61</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>1316720</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/MacOS/SophosPrivacyGuard</string>
			<key>SHAChecksum</key>
			<string>5bff1258e427390ec501a64ae0dde52f7f08238a838b788731a23884300369e8</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>475120</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Resources/libswiftRemoteMirror.dylib</string>
			<key>SHAChecksum</key>
			<string>11e3fe17d6fdd8fd17c0dcf63120686fd4d26fa08ab9040cfde8364e5d4d9d7d</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>6a205e1f0ef94303f4c4e03328e786f90fe67e5a30652cb599cc21f95837a92d</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>213568</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftAppKit.dylib</string>
			<key>SHAChecksum</key>
			<string>30413a908eff7b7ff67b6ef90449e63241d074d6ec0ea796d2daf75010aeed9a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>40928</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftCoreImage.dylib</string>
			<key>SHAChecksum</key>
			<string>3198642381479df419aee2cc8e998dc2322a0305422b529be7c79fbcef22401d</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>53136</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftObjectiveC.dylib</string>
			<key>SHAChecksum</key>
			<string>f6258584a2652494dde4ff5dec723156976371518cef4a54c6f08d86dadf0f80</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>36608</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftXPC.dylib</string>
			<key>SHAChecksum</key>
			<string>fd0b67a66eaad9225fa8c0b04fd2af5bf02eae6a62625f76e809d40f6cba0021</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>6447184</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftCore.dylib</string>
			<key>SHAChecksum</key>
			<string>8ce3d4656161682e3017c9fe3e85badbf08863965ae9ade23c12a6513ac3665a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>181424</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftCoreGraphics.dylib</string>
			<key>SHAChecksum</key>
			<string>2a0481480add4a16ce90f07df24b9916c641322c06947429923c88accb9ed574</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>75808</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftMetal.dylib</string>
			<key>SHAChecksum</key>
			<string>851714ba54b2ab9e2ebff2cda7b0011506cd52d5647be406a18b2242b7dfc105</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>89760</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftCoreData.dylib</string>
			<key>SHAChecksum</key>
			<string>06eaf4d2e8953d58a4b5b82f7076b833bae9a226038bba3d6171fea43b51e27a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>319152</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftDispatch.dylib</string>
			<key>SHAChecksum</key>
			<string>514c3121e553f096d18b57fb7183c36fa21b925e683c54b88142a11f2a817a17</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>63232</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftos.dylib</string>
			<key>SHAChecksum</key>
			<string>8cd7d861a5e1e37fdc460e534657ffa6fd96bf5fa4bcb1196dc9d755f9276a46</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>33008</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftCoreFoundation.dylib</string>
			<key>SHAChecksum</key>
			<string>cbbb559c26fbd419ae736e5e5683425791ed9b56957f7013dc7c7ad22ad9964e</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>89968</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftDarwin.dylib</string>
			<key>SHAChecksum</key>
			<string>f44914698e9c5417fa01c05b7a8e5930e9b815ecd03f34155888c18d0f6d22b1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>49232</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftQuartzCore.dylib</string>
			<key>SHAChecksum</key>
			<string>2960444a7fd11f5a09bdabc836927c5d1c40e6a2ca564057505eedddeb2e3170</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>36528</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftIOKit.dylib</string>
			<key>SHAChecksum</key>
			<string>49c315ee316f6e43dd12484dbca36e771624fd6ea31e90d1d9e4b403f4cc147e</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>66048</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftCoreAudio.dylib</string>
			<key>SHAChecksum</key>
			<string>ad398d8bf17eb6352d38a633c4ae348f10a72fbce6e1023d84971610d80708aa</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>119840</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftAVFoundation.dylib</string>
			<key>SHAChecksum</key>
			<string>06d880398fc90ef82f8600e7f4a0e5aa7f0fcfb47355f284997b2a12b67d8c83</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>3154272</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftFoundation.dylib</string>
			<key>SHAChecksum</key>
			<string>4c942760405f40a0b4bd0ac1c393dce81cd87b4a4d1e51a65e67a9351be007b0</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>78416</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftCoreMedia.dylib</string>
			<key>SHAChecksum</key>
			<string>2ef484a1f2347a6a17865882ca37bbc540196d07faa8a70939b6c9b1d29a6146</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>310224</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Frameworks/libswiftsimd.dylib</string>
			<key>SHAChecksum</key>
			<string>b17ace14652b106c4368c0ddf6acd7df848ec89a02bd15a2c04faee7f5ce45cd</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>1478</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>89fe93c40e4a2a05b778c902723fb49fd55b4474a6803cb0abd174d80352c9fe</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>privacyguard</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosPrivacyGuard.bundle/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array>
		<string>com.sophos.privacyguard</string>
	</array>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
