<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>../Sophos Installer Components/home-premium.bundle/Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>71325</integer>
	<key>ComponentVersion</key>
	<string>9.9.4:2822133</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>sfm-kext</string>
			<key>FileSize</key>
			<integer>26055</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>b3f819f921cde7d4eb6e1870628f25a67e698ffb2f29f4374b60de7e61963dc6</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sfm-kext</string>
			<key>FileSize</key>
			<integer>1652</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents/CodeResources</string>
			<key>SHAChecksum</key>
			<string>0a67a7fa24e9a7f89d5cae5586e942f54008ebf3c880644ede6c3b202f4114d2</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sfm-kext</string>
			<key>FileSize</key>
			<integer>2526</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>38d93581c3a6e756ef839fcf5d28c8a94fbc025fb64616ec1bb9639090641549</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sfm-kext</string>
			<key>FileSize</key>
			<integer>64880</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents/MacOS/FileMonitorKext</string>
			<key>SHAChecksum</key>
			<string>4b75b9155d4ce9e35f13ba34e8b7422a939da1a77d1645393976f57ca26c0931</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sfm-kext</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>767e740395bc3864a8f87a7a7710ec8a7606bf1853f0804d45a47156dd7fdac0</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sfm-kext</string>
			<key>FileSize</key>
			<integer>1809</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileMonitor.kext/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>450c91c764c54cc3150d9e98d0488e80484052a0fcc55cd45ff515da61e786df</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
	<key>RebuildKextCache</key>
	<true/>
</dict>
</plist>
