<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>../Sophos Installer Components/config-supplement.bundle/Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>12341</integer>
	<key>ComponentVersion</key>
	<string>2.1.0:217659</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>5510</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>cc7bc9222edd412040048427918d0fb42d563f4ecb5fe58c733448ecfa28ddfe</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>172</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/_CodeSignature/CodeDirectory</string>
			<key>SHAChecksum</key>
			<string>5d5bf289731951adba47abe583efde9f57c27fb22a16f560749e8075e39194aa</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>188</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/_CodeSignature/CodeRequirements</string>
			<key>SHAChecksum</key>
			<string>c507d2fae94d3b4a56036a3f57d93f40c53c87d879754038f21747176a8bde04</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>2774</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>2cd6fbf450c9437f342e83cd440aca58a069cd95c03171ee6549ce08708b3edc</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>4256</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/_CodeSignature/CodeSignature</string>
			<key>SHAChecksum</key>
			<string>6f82725f799b47d4ebe5c31ff36bee0ebe55315e636cb443fbd9419a2b3458f6</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>886</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>11394efc3819159188e1bfb9decfbd1564eea8ed8b3ca21cd648b54845a5139c</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>443</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>256</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>9545807eddaadeeace46a43715630f3ce6e69342a605113b1743437f8e973e47</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>2907</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>256</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/Resources/com.sophos.cryptoguard.json</string>
			<key>SHAChecksum</key>
			<string>f0938fd50f2e80504eed4ee5c3a455d8f610d5f6e28c4510e5b55757e920ce6a</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>524</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>256</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/Resources/com.sophos.mcs.json</string>
			<key>SHAChecksum</key>
			<string>d10fa5163fd4f9875e6eb4f16bd78b6d5d13d6454d892f5b7fff1f20b297ed37</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>config-supplement</string>
			<key>FileSize</key>
			<integer>191</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>256</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosConfigSupplement.bundle/Contents/Resources/com.sophos.sed.json</string>
			<key>SHAChecksum</key>
			<string>d39e538a754f5f46b29107857cc51e34c397e226c5acf31adcfc9bb4f69b1f38</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array>
		<dict>
			<key>NotificationName</key>
			<string>com.sophos.confd.notification.supplementupdated</string>
		</dict>
	</array>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
