<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>../Sophos Installer Components/av-home.bundle/Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>0</integer>
	<key>ComponentVersion</key>
	<string>0:2833099</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>data</string>
			<key>FileSize</key>
			<integer>29</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>980c6423b78f2b6483a09e2133fe6a0282fa6a51b5a0f2cac6f1aee92f16c469</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>CheckForExternalFileChanges</key>
			<true/>
			<key>ExternalSourcePath</key>
			<string>../../../../../Sophos Installer Components/ac-data/*</string>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsWildcardPath</key>
			<true/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/DSA</string>
		</dict>
		<dict>
			<key>CertificatePath</key>
			<string>Contents/Resources</string>
			<key>CheckForExternalFileChanges</key>
			<true/>
			<key>ExternalManifestType</key>
			<string>SophosDataManifest</string>
			<key>ExternalSourcePath</key>
			<string>../../../../../Sophos Installer Components/av-data/vdlmnfst.dat</string>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/VDL</string>
		</dict>
		<dict>
			<key>CheckForExternalFileChanges</key>
			<true/>
			<key>ExternalSourcePath</key>
			<string>/Library/Caches/com.sophos.sau/CID/Sophos Installer Components/av-data/*.ide</string>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>IsWildcardPath</key>
			<true/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/IDE</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array>
		<dict>
			<key>NotificationName</key>
			<string>com.sophos.scan.notification.virusdataupdated</string>
		</dict>
	</array>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
