<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>../Sophos Installer Components/av-home.bundle/Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>76913</integer>
	<key>ComponentVersion</key>
	<string>9.9.4:2821607</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>oas-kext</string>
			<key>FileSize</key>
			<integer>27308</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>33e09b3a18926c14779943d34a45f662bd8a1a84ca786699d044087b0f533a74</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>oas-kext</string>
			<key>FileSize</key>
			<integer>1652</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/CodeResources</string>
			<key>SHAChecksum</key>
			<string>b10bc4ba3807530053766a6aedd06f1b13590f3a9ea46e8f616a73cd4874e4b7</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>oas-kext</string>
			<key>FileSize</key>
			<integer>2965</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>8ce033880ce5802606e82bbdf48331394a0534642368ca7945ec4b916a8b9552</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>oas-kext</string>
			<key>FileSize</key>
			<integer>69456</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/MacOS/OnAccessKext</string>
			<key>SHAChecksum</key>
			<string>339030da1cb0d5d57270bea2743525ddbe090d42d63e88bdcd8e0440751b6fa2</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/Resources</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/Resources/en.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>oas-kext</string>
			<key>FileSize</key>
			<integer>562</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/Resources/en.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>b19ccd14ef232632170b5a676c7ca936e941ffdbc920f75e4c84e0099b7152cb</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>oas-kext</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>00b7d99a384bfec29579311c705efc26003dce35bf0bcccdab4ef547013e19a1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>oas-kext</string>
			<key>FileSize</key>
			<integer>1820</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>wheel</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Extensions/SophosFileProtection.kext/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>bee471cac0fb00a50d01feb6a1eac2768c575e83a02a0f3d900d153f2e6ce506</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array/>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
	<key>RebuildKextCache</key>
	<true/>
</dict>
</plist>
