<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>../Sophos Installer Components/av-home.bundle/Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>2613694</integer>
	<key>ComponentVersion</key>
	<string>9.9.4:2822830</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>829426</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>23ec87e06449f54bfcc1090bf5af0a265bbb46c2e049f71f12658bf9305b1811</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>2821</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>e90a07cf8b0b47129c3d2deada3e11f158ef93a46d3a75260f9251940564ea9c</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>1462176</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/MacOS/SophosScanD</string>
			<key>SHAChecksum</key>
			<string>329c39c13504da6c0ff0d92b492eb43f18fa6275256d65944f7914e32bd8b546</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/Resources</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/Resources/en.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>562</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/Resources/en.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>b19ccd14ef232632170b5a676c7ca936e941ffdbc920f75e4c84e0099b7152cb</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>8a6a2b9ebe302808e3fe7cc4424b59ed0e883af05f763a62d954d1baeb95c3e1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>1510</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>dfc09d8647135521f9bf552ab192693b16cf4a74b05432a283dfbe0c503cb5ad</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanD.app/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>2454</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>95b89519f0594e70bbf05e5ebd3dd72d81ac668fe6be7e7610257a86e8053f4f</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>1141600</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents/MacOS/SophosScanAgent</string>
			<key>SHAChecksum</key>
			<string>e63880cddcfa38d396cc99be8dd781745fa978640dcb3912826851b91267052f</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents/Resources</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>8a6a2b9ebe302808e3fe7cc4424b59ed0e883af05f763a62d954d1baeb95c3e1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>1639</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>8f3fdc53fb2b4dc405eb5aeae506c28c7a6b096c0c85c6dc8eba04e573dc06cb</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>scand</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosScanAgent.app/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>_sophos</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Caches/com.sophos.sav</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array>
		<dict>
			<key>Name</key>
			<string>_sophos</string>
		</dict>
	</array>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array>
		<string>com.sophos.scan</string>
	</array>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array>
		<dict>
			<key>GroupName</key>
			<string>_sophos</string>
			<key>Name</key>
			<string>_sophos</string>
		</dict>
	</array>
</dict>
</plist>
