<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentBundleSourcePath</key>
	<string>../Sophos Installer Components/av-home.bundle/Contents/Install/Root</string>
	<key>ComponentSize</key>
	<integer>1218787</integer>
	<key>ComponentVersion</key>
	<string>9.9.6:2830042</string>
	<key>ListOfArchiveFiles</key>
	<array>
		<dict>
			<key>ArchiveIsObfuscated</key>
			<true/>
			<key>ArchiveName</key>
			<string>sxld</string>
			<key>FileSize</key>
			<integer>492916</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>SHAChecksum</key>
			<string>bf146b0f5d95e41a039280260112f1385d8b839843b3b5547d5834647ac31ac0</string>
		</dict>
	</array>
	<key>ListOfExecutables</key>
	<array/>
	<key>ListOfFileEdits</key>
	<array/>
	<key>ListOfFiles</key>
	<array>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/_CodeSignature</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sxld</string>
			<key>FileSize</key>
			<integer>3392</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/_CodeSignature/CodeResources</string>
			<key>SHAChecksum</key>
			<string>4b0407c437b37536008733732c9bee7185f7f780a6b1d5aed521e46b1fddcd73</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/MacOS</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sxld</string>
			<key>FileSize</key>
			<integer>1212352</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>365</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/MacOS/SophosSXLD</string>
			<key>SHAChecksum</key>
			<string>bd905832fb45991b50b762bbbcc048fe28d7bedcd5960bf432e7231c2497a4b4</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/Resources</string>
		</dict>
		<dict>
			<key>IsDirectory</key>
			<true/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>493</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/Resources/en.lproj</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sxld</string>
			<key>FileSize</key>
			<integer>562</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/Resources/en.lproj/InfoPlist.strings</string>
			<key>SHAChecksum</key>
			<string>b19ccd14ef232632170b5a676c7ca936e941ffdbc920f75e4c84e0099b7152cb</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sxld</string>
			<key>FileSize</key>
			<integer>436</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/Resources/en.lproj/Credits.rtf</string>
			<key>SHAChecksum</key>
			<string>b4386fe1cef65cd91e6c8ecc065d117089083f91b7cadbf0c3e5eae20e8b9640</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sxld</string>
			<key>FileSize</key>
			<integer>458</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/Resources/build-info.plist</string>
			<key>SHAChecksum</key>
			<string>42a1642e3ce4f8e539d8aeb853fc62042214ab9392c321029220c4c4d2f5fd3f</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sxld</string>
			<key>FileSize</key>
			<integer>1579</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/Info.plist</string>
			<key>SHAChecksum</key>
			<string>4e1148b8417b4e1446e82c4c055287acecd6d06c82eff1d0c5b787f6868529f1</string>
		</dict>
		<dict>
			<key>ArchiveName</key>
			<string>sxld</string>
			<key>FileSize</key>
			<integer>8</integer>
			<key>IsDirectory</key>
			<false/>
			<key>IsMach-OExecutable</key>
			<false/>
			<key>IsSymbolicLink</key>
			<false/>
			<key>NSFileGroupOwnerAccountName</key>
			<string>admin</string>
			<key>NSFileOwnerAccountName</key>
			<string>root</string>
			<key>NSFilePosixPermissions</key>
			<integer>292</integer>
			<key>Path</key>
			<string>/Library/Sophos Anti-Virus/SophosSXLD.app/Contents/PkgInfo</string>
			<key>SHAChecksum</key>
			<string>82502191c9484b04d685374f9879a0066069c49b8acae7a04b01d38d07e8eca0</string>
		</dict>
	</array>
	<key>ListOfGroups</key>
	<array/>
	<key>ListOfLaunchAgents</key>
	<array/>
	<key>ListOfLaunchDaemons</key>
	<array/>
	<key>ListOfManagedDaemons</key>
	<array>
		<string>com.sophos.sxld</string>
	</array>
	<key>ListOfNotifications</key>
	<array/>
	<key>ListOfUsers</key>
	<array/>
</dict>
</plist>
