<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Sophos Detection Engine for Mac (installer package)</string>
	<key>CFBundleGetInfoString</key>
	<string>Sophos Anti-Virus for Mac Copyright © 1993-2019 Sophos Ltd.\nAll rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.sophos.macinstallpkg.savi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sophos Detection Engine for Mac (installer package)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.77.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.77.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1993-2019 Sophos Ltd.\nAll rights reserved.</string>
</dict>
</plist>
